.hidden {
  display: none !important;
}

body {
  background-color: darkgrey;
}

.main-screen {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.main-screen-channel-wrapper {
  position: relative;
}

.main-screen-send-message-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
}
